@-webkit-keyframes fade-in{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}

button {
    position: relative;
    display:block;
    height: 45px;
    width: 380px;
    margin: auto;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color:gold;
    border: 2px gold solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
}
  
.slide:after{
    content:"Want To Know More About Me? 🙂";
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    text-align:center;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
  
.slide:before {
    content:"Awesome! Let's Get Started →";
    height:100%;
    width:100%;
    position:absolute;
    color:white;
    left:-100%;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
  
.slide:hover{
    background: gold;
}
  
.slide:hover:before{
    left:0;
    opacity:1;
    color: black;
}
.slide:hover:after{
    left:100%;
    opacity:0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    align-items: center;
    background-image: url(../images/texture-back.jpg);
    background-repeat: repeat;
    color: white;
}

.type{
    text-align: center;
}

#social img:hover {
    -webkit-filter: drop-shadow(6px 6px 6px rgba(255, 255, 255, 1));
}

#social{
    text-align: center;
}

#container{
    text-align: center;
}

#alias{
    font-size: 45px;
}

#boundary{
    -webkit-animation:fade-in 2s infinite;
    -webkit-animation-delay: 1s;
}

#name{
    color: gold;
}

#userid{
    color:lightgreen;
}

#logo{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

@-webkit-keyframes rotate-left{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(1800deg);
    }
}


#logo {
    -webkit-animation:rotate-left 5s infinite;
    -webkit-animation-delay: 5s;
    
}
