<footer class="text-slate-100 body-font bg-slate-600">
	<div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
		<a href="index.html"
			class="flex title-font font-medium items-center md:justify-start justify-center text-slate-900">
			<img src="/Krypticmouse.jpeg" class="text-white p-2 rounded-full" style="height: 6.25rem;">
			<span class="ml-3 text-xl text-slate-100">Herumb Shandilya</span>
		</a>
		<p class="text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-slate-200 sm:py-2 sm:mt-0 mt-4">
			Made with TailwindCSS —
			<a href="https://twitter.com/krypticmouse" class="text-slate-400 ml-1" rel="noopener noreferrer"
				target="_blank">@krypticmouse</a>
		</p>
		<span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
			<a class="ml-5" target="_blank" href="https://auth.geeksforgeeks.org/user/herumbshandilya/articles">
				<img src="/logo/gfg.png" style="width:1.875rem;">
			</a>
			<a class="ml-5" target="_blank" href="https://krypticmouse.hashnode.dev/">
				<img src="/logo/hashnode.png" style="width:1.875rem">
			</a>
			<a class="ml-5" target="_blank" href="https://theaveragecoder.medium.com/">
				<img src="/logo/medium.png" style="width:1.875rem">
			</a>
			<a class="ml-5" target="_blank" href="https://stackoverflow.com/users/12089982/krypticmouse">
				<img src="/logo/stackoverflow.png" style="width:1.875rem">
			</a>
			<a class="ml-5" target="_blank" href="https://www.linkedin.com/in/herumb-s-740163131/">
				<img src="/logo/linkedin.png" style="width:1.875rem">
			</a>
			<a class="ml-5" target="_blank" href="https://twitter.com/krypticmouse">
				<img src="/logo/twitter.png" style="width:1.875rem">
			</a>
			<a class="ml-5" target="_blank" href="https://github.com/krypticmouse">
				<img src="/logo/github.png" style="width:1.875rem">
			</a>
		</span>
	</div>
</footer>