<p class="text-7xl text-slate-600 font-semibold px-5 text-center">Journal</p>
<p class="text-2xl text-slate-600 font-medium px-5 pt-3 text-center text-opacity-60 italic">"Diary of Lifelong Pursuit of Happiness."</p>

<div class="text-slate-600 body-font overflow-hidden px-5 py-10">
    dsds
</div>